<div class="alert alert-danger text-center" data-ng-if="projectsArray.error">{{projectsArray.error}}</div>
<div class="card text-center clearfix col-md-4 col-md-offset-1" data-ng-repeat="project in projectsArray.projects">
  <h2>{{project.title}}</h2>
  <div class="card__icon" data-ng-if="project.icon">
    <img data-ng-src="{{project.icon.src}}" alt="{{project.icon.alt}}" height="200" width ="200">
  </div>
  <div class="card__content">
    <p data-ng-if="project.github"><a ng-href="{{project.github}}">github</a></p>
    <p data-ng-if="project.livePreview"><a ng-href="{{project.livePreview}}">Live Preview</a></p>
    <p data-ng-if="project.languages">Languages: {{project.languages}}</p>
    <p data-ng-if="project.description">{{project.description}}</p>
  </div>
</div>
