<header>
  <div class="header__profile-pic col-md-3 col-md-offset-1 col-sm-12 clearfix hidden-sm hidden-xs">
    <img src="assets/imgs/me.jpg" alt="A picture of Hayley Swimelar" height="250" width="333">
  </div>
  <div class="header__blurb col-md-5 col-md-offset-1 col-sm-12 clearfix">
    <h1>Hayley Swimelar</h1>
    <p class="lead">Hello there! My name is Hayley and this is my portfolio site.
    I'm a web developer in Portland, Oregon. Check out some of my awesome projects! JavaScript is the language I know best (after English),
    but I love solving problems with all kinds of tools.</p>
  </div>
</header>
