@import 'colors'
@import 'mixins'

footer
  background-color: $color-primary-3
  color: $text-color

.footer__contacts
  font-size: 15em

.footer__link
  color: $color-primary-1
  &:hover
    color: $color-primary-2
