.profile-pic, .blurb, form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

header {
  background-color: green;
  height: 400px; }

.profile-pic {
  float: left; }

.blurb {
  border-color: white;
  border-width: 6px;
  border-style: dashed; }

.card {
  margin-top: 25px;
  margin-bottom: 25px; }

.card__icon {
  float: left;
  padding: 20px; }

.card--technologies {
  height: 230px; }
  .card--technologies:hover {
    color: blue; }

.profile-pic, .blurb, form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

footer {
  background-color: green;
  height: 400px; }

main {
  min-height: 400px; }
