.header__profile-pic, .header__blurb {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

header {
  background-color: #241A5D;
  color: #fafafa;
  height: 400px; }

.header__profile-pic {
  float: left; }

.header__blurb {
  border-color: white;
  border-width: 6px;
  border-style: dashed; }

.card {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fafafa; }

.card__icon {
  float: left;
  padding: 20px; }

.card--technologies {
  height: 230px; }

.header__profile-pic, .header__blurb {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

footer {
  background-color: #241A5D;
  color: #fafafa; }

.footer__contacts {
  font-size: 15em; }

.footer__link {
  color: #867EB2; }
  .footer__link:hover {
    color: #5D5395; }

.navbar .navbar-inner {
  padding: 0; }
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%; }
  .navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none; }
    .navbar .nav li a {
      font-weight: bold;
      text-align: center;
      border-left: 1px solid rgba(255, 255, 255, 0.75);
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .navbar .nav li:first-child a {
      border-left: 0;
      border-radius: 3px 0 0 3px; }
    .navbar .nav li:last-child a {
      border-right: 0;
      border-radius: 0 3px 3px 0; }

main {
  min-height: 400px;
  background-color: #333; }

body {
  background-color: #333; }
